<!doctype html>
<html lang='en', >
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
   <!-- <script src="app.js" defer></script>
-->

<title>ASCII-ART-WEB</title>
<style>
.label, span{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: rgb(255, 255, 255);
}
body{
display: grid;
place-items: center;
min-height: 100vh;
background-color: rgb(167, 230, 109);
flex-direction: column;
}
.text-area{
    border: 2px;
    border-color: teal;
    background-color: cornflowerblue;
    width: 500px;
    padding: 3rem 1rem;
    border-radius: .5rem;
    position: relative;
}
.h1 {
    padding-bottom: 400px;
    align-content: center;
}
</style>

</head>

<body>

   
<div class="container">
<div class="text-area">
<div class="label">ASCII-ART-WEB</div>
<span class="tags">

    <form method="POST" action="/">
<span>USER</span>
<span>INPUT:</span>



<label>TEXT</label><br>
<input type="text" name="textForAscii" /><br><br>
<input type="submit" value="Отправить" />

        <label for="dataFromChooseFiles">Choose a format:</label>
        <select  name="dataFromChooseFiles" id="dataFromChooseFiles">
  <option value="standart">standart</option>
  <option value="shadow">shadow</option>
  <option value="thinkertoy">thinkertoy</option>
            </select>
</form>
<!--<textarea name="" id="" cols="30" rows="10"></textarea> -->
</span>
</div>
</div>


    
</body>
</html>


<!--

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Домашняя страница - Snippetbox</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>Snippetbox</a></h1>
        </header>
        <nav>
            <a href="/">Домашняя страница</a>
        </nav>
        <main>
            <h2>Последние заметки</h2>
            <p>Здесь пока ничего нет!</p>
        </main>
    </body>
</html>
-->








